[submodule "caffeine-ng-git"]
	path = caffeine-ng-git
	url = ssh://aur@aur.archlinux.org/caffeine-ng-git.git
[submodule "python-langid-git"]
	path = python-langid-git
	url = ssh://aur@aur.archlinux.org/python-langid-git.git
[submodule "python-varname"]
	path = python-varname
	url = ssh://aur@aur.archlinux.org/python-varname.git
[submodule "python-split-folders"]
	path = python-split-folders
	url = ssh://aur@aur.archlinux.org/python-split-folders.git
[submodule "python-pdf2docx-git"]
	path = python-pdf2docx-git
	url = ssh://aur@aur.archlinux.org/python-pdf2docx-git.git
[submodule "python-inputs-git"]
	path = python-inputs-git
	url = ssh://aur@aur.archlinux.org/python-inputs-git.git
[submodule "python-gbinder-git"]
	path = python-gbinder-git
	url = ssh://aur@aur.archlinux.org/python-gbinder-git.git
[submodule "python-poetry-plugin-export-git"]
	path = python-poetry-plugin-export-git
	url = ssh://aur@aur.archlinux.org/python-poetry-plugin-export-git.git
[submodule "python-srsly-git"]
	path = python-srsly-git
	url = ssh://aur@aur.archlinux.org/python-srsly-git.git
[submodule "python-dataprep-git"]
	path = python-dataprep-git
	url = ssh://aur@aur.archlinux.org/python-dataprep-git.git
[submodule "python-varname-git"]
	path = python-varname-git
	url = ssh://aur@aur.archlinux.org/python-varname-git.git
[submodule "python-oauth2token"]
	path = python-oauth2token
	url = ssh://aur@aur.archlinux.org/python-oauth2token.git
[submodule "python-crfsuite-git"]
	path = python-crfsuite-git
	url = ssh://aur@aur.archlinux.org/python-crfsuite-git.git
[submodule "python-parserator"]
	path = python-parserator
	url = ssh://aur@aur.archlinux.org/python-parserator.git
[submodule "python-probableparsing"]
	path = python-probableparsing
	url = ssh://aur@aur.archlinux.org/python-probableparsing.git
[submodule "python-usaddress"]
	path = python-usaddress
	url = ssh://aur@aur.archlinux.org/python-usaddress.git
[submodule "python-wasabi"]
	path = python-wasabi
	url = ssh://aur@aur.archlinux.org/python-wasabi.git
[submodule "python-milksnake"]
	path = python-milksnake
	url = ssh://aur@aur.archlinux.org/python-milksnake.git
[submodule "python-crfsuite-rs-git"]
	path = python-crfsuite-rs-git
	url = ssh://aur@aur.archlinux.org/python-crfsuite-rs-git.git
[submodule "mpdris2-git"]
	path = mpdris2-git
	url = ssh://aur@aur.archlinux.org/mpdris2-git.git
[submodule "gnome-pass-search-provider-git"]
	path = gnome-pass-search-provider-git
	url = ssh://aur@aur.archlinux.org/gnome-pass-search-provider-git.git
[submodule "git-review"]
	path = git-review
	url = ssh://aur@aur.archlinux.org/git-review.git
[submodule "python-vlc"]
	path = python-vlc
	url = ssh://aur@aur.archlinux.org/python-vlc.git
[submodule "python-srsly"]
	path = python-srsly
	url = ssh://aur@aur.archlinux.org/python-srsly.git
[submodule "python-mathparse"]
	path = python-mathparse
	url = ssh://aur@aur.archlinux.org/python-mathparse.git
[submodule "python-pdf2docx"]
	path = python-pdf2docx
	url = ssh://aur@aur.archlinux.org/python-pdf2docx.git
[submodule "python-metaphone"]
	path = python-metaphone
	url = ssh://aur@aur.archlinux.org/python-metaphone.git
[submodule "python-inltk"]
	path = python-inltk
	url = ssh://aur@aur.archlinux.org/python-inltk.git
[submodule "python-google-cloud-firestore"]
	path = python-google-cloud-firestore
	url = ssh://aur@aur.archlinux.org/python-google-cloud-firestore.git
[submodule "python-firebase-admin"]
	path = python-firebase-admin
	url = ssh://aur@aur.archlinux.org/python-firebase-admin.git
[submodule "python-dataprep"]
	path = python-dataprep
	url = ssh://aur@aur.archlinux.org/python-dataprep.git
[submodule "python-curses-menu"]
	path = python-curses-menu
	url = ssh://aur@aur.archlinux.org/python-curses-menu.git
[submodule "python-chatterbot"]
	path = python-chatterbot
	url = ssh://aur@aur.archlinux.org/python-chatterbot.git
[submodule "python-autoscraper"]
	path = python-autoscraper
	url = ssh://aur@aur.archlinux.org/python-autoscraper.git
[submodule "ibus-m17n"]
	path = ibus-m17n
	url = ssh://aur@aur.archlinux.org/ibus-m17n.git
[submodule "govarnam-bin"]
	path = govarnam-bin
	url = ssh://aur@aur.archlinux.org/govarnam-bin.git
[submodule "govarnam-ibus-bin"]
	path = govarnam-ibus-bin
	url = ssh://aur@aur.archlinux.org/govarnam-ibus-bin.git
[submodule "govarnam-ibus-git"]
	path = govarnam-ibus-git
	url = ssh://aur@aur.archlinux.org/govarnam-ibus-git.git
[submodule "green-tunnel-bin"]
	path = green-tunnel-bin
	url = ssh://aur@aur.archlinux.org/green-tunnel-bin.git
[submodule "crfsuite"]
	path = crfsuite
	url = ssh://aur@aur.archlinux.org/crfsuite.git
[submodule "captdriver-git"]
	path = captdriver-git
	url = ssh://aur@aur.archlinux.org/captdriver-git.git
[submodule "libglibutil-git"]
	path = libglibutil-git
	url = ssh://aur@aur.archlinux.org/libglibutil-git.git
[submodule "govarnam-git"]
	path = govarnam-git
	url = ssh://aur@aur.archlinux.org/govarnam-git.git
[submodule "govarnam-schemes"]
	path = govarnam-schemes
	url = ssh://aur@aur.archlinux.org/govarnam-schemes.git
[submodule "govarnam-schemes-git"]
	path = govarnam-schemes-git
	url = ssh://aur@aur.archlinux.org/govarnam-schemes-git.git
[submodule "libvarnam-ibus-git"]
	path = libvarnam-ibus-git
	url = ssh://aur@aur.archlinux.org/libvarnam-ibus-git.git
[submodule "libvarnam-git"]
	path = libvarnam-git
	url = ssh://aur@aur.archlinux.org/libvarnam-git.git
[submodule "libvarnam"]
	path = libvarnam
	url = ssh://aur@aur.archlinux.org/libvarnam.git
[submodule "dwmbar-git"]
	path = dwmbar-git
	url = ssh://aur@aur.archlinux.org/dwmbar-git.git
[submodule "capt-src"]
	path = capt-src
	url = ssh://aur@aur.archlinux.org/capt-src.git
