pkgbase = python-varname
	pkgdesc = A Python library to retrieve variable names from functions or classes
	pkgver = 0.13.1
	pkgrel = 1
	url = https://github.com/pwwang/python-varname
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-executing
	optdepends = python-asttokens
	optdepends = python-pure-eval
	source = https://github.com/pwwang/python-varname/archive/refs/tags/0.13.1.tar.gz
	sha512sums = 78808e298f32e7a5be8116865b60774b891fa7b921926fd186974bb48ecc7f23b1bbefb4199b97d9a17c035dc60729cb3fb3447587b0b6171831ef064eb6d597

pkgname = python-varname
