pkgbase = ibus-m17n
	pkgdesc = M17N engine for IBus
	pkgver = 1.4.29
	pkgrel = 1
	url = https://github.com/ibus/ibus-m17n
	arch = x86_64
	license = LGPL
	depends = ibus
	depends = m17n-db
	depends = m17n-lib
	source = ibus-m17n-1.4.29.tar.gz::https://github.com/ibus/ibus-m17n/archive/1.4.29.tar.gz
	sha512sums = 07944f6c69f86a0243e0f2355b5c9c69d36fedb8e68d22cdd6e13151b4afe3312f954e3e9d4dceaa3b7dd362b5d775ca1de44d3b9b9459c41b57c1f456371e52

pkgname = ibus-m17n
