pkgbase = python-varname
	pkgdesc = A Python library to retrieve variable names from functions or classes
	pkgver = 0.13.1
	pkgrel = 2
	url = https://github.com/pwwang/python-varname
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	depends = python
	depends = python-executing
	optdepends = python-asttokens
	optdepends = python-pure-eval
	source = https://github.com/pwwang/python-varname/archive/refs/tags/0.13.1.tar.gz
	sha512sums = 38b5c39d843b8ebf6607a6dd3d48582db08f6c4d819e0e9f5a70755b2b925b6ad5a7deb42f97cef7e3fbf8235c4b51c9fe5321f1a40e90dc8ec536df7eca0b9a

pkgname = python-varname
